BOT_NAME=SHEIKH-MD
OWNER_NAME=Sheikh
OWNER_NUMBER=923183356217
PREFIX=.
SESSION_NAME=sheikh-md

CONNECTION_METHOD=pairing
PAIRING_NUMBER=923183356217

BOT_MODE=public
LOG_LEVEL=info

AI_API_URL=
AI_API_KEY=
